<%- include('partials/header') %>
<style>
  body{
    background-image:url('https://images.pexels.com/photos/46798/the-ball-stadion-football-the-pitch-46798.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  }
</style>
<div class="jumbotron text-center">
  <div class="container">
    
    <h1 class="display-3">DEMO</h1>
    <h1 class="display-3"></h1>
    <p class="secret-text"></p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"></a>
  </div>
</div>

<%- include('partials/footer') %>s
